.auth-layout-main {
  --main-background: color-mix(in oklab, var(--background) 15%, transparent);
  background-color: #0000;
  background-image: linear-gradient(
      var(--main-background),
      var(--main-background)
    ),
    url("/pic1medical-hero.png");
  background-position: 0 0, 50%;
  background-size: auto, cover;
  width: 100svw;
  height: 100svh;
}

.auth-layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
