body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

body:has(> div):not(:has(> main)) {
  background-image: url("../assets/pic1medical-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.amplify-tabs [id$="signUp"] button {
  display: none;
  user-select: none;
  pointer-events: none;
}

body > header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--bs-primary);
}

body > main {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

:has(> .hide-on-group-hover):hover > .hide-on-group-hover {
  display: none;
}

:has(> .show-on-group-hover):hover > .show-on-group-hover {
  display: initial;
}

.show-on-group-hover {
  display: none;
}

// $theme-colors: (
//   "primary": #085194,
//   "secondary": #6c757d,
//   "success": #198754,
//   "info": #0dcaf0,
//   "warning": #ffc107,
//   "danger": #dc3545,
//   "light": #f8f9fa,
//   "dark": #212529,
// );
$primary: #085194;

@import "node_modules/bootstrap/scss/bootstrap";

.table-rounded > :first-child > tr:first-child > :first-child {
  border-top-left-radius: var(--bs-border-radius);
}

.table-rounded > :first-child > tr:first-child > :last-child {
  border-top-right-radius: var(--bs-border-radius);
}

.table-rounded > :last-child > tr:last-child > :first-child {
  border-bottom-left-radius: var(--bs-border-radius);
}

.table-rounded > :last-child > tr:last-child > :last-child {
  border-bottom-right-radius: var(--bs-border-radius);
}

.table-rounded > :last-child > tr > * {
  border: none !important;
}

.btn-group-xs > .btn,
.btn-xs {
  @include button-size(0.125rem, 0.35rem, 0.8rem, $border-radius-sm);
}

.form-label.required::after {
  content: "*";
  margin-left: 0.125rem;
  color: var(--bs-danger);
}
